@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 227, 128);
    color: whitesmoke;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0 0 3rem;
    min-height: 100vh;
}